In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
dataset=pd.read_csv("Position_Salaries.csv")

In [3]:
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
load_model = pickle.load(open('Random_forest_model', 'rb'))
  
y_pred = load_model.predict([[-0.72004253]])

In [5]:
y_pred

array([-0.65138321])